* {
    margin: 0;
    padding: 0;
    background: #242121;

}

.container {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    
}
.items{
    margin-top: 15px;
    position: relative;
    left: -50px;
    display: flex;
    gap: 30px;
}
.nav-2{
    display: flex;
    gap: 30px;
    color: white;
    margin-left: 700px;
}
nav {
    justify-content:space-between ;
    background-color: #292828;
    display: flex;
    height: 50px;

    div{
        margin-top: 10px;
        margin: 10px;
    }
    div{
        input{
            height: 27px;
            width: 600px;
            background-color: #808080;
            border: none;
            border-radius:5px;
        }
    }
}